<div class="blog-item mb-4 d-flex">
	<a href="blog_article.html" class="d-flex">
		<img src="img/blog_img.jpg" alt="">
	</a>
	<div class="article d-flex flex-column justify-content-between p-4">
		<div>
			<a href="blog_article.html">
				<h4>Оперативная и корректная сдача отчётности по РСБУ</h4>
			</a>
			<p>В законодательстве РФ часто происходят изменения. Для корректной отчётности их необходимо отражать в учётной системе. В решениях 1С эти изменения вносятся оперативно и с минимумом затрат.</p>
		</div>
		<div class="article-bottom d-flex justify-content-between">
			<span class="date">30.09.2023</span>	
			<a href="blog_article.html" class="more">Читать</a>
		</div>
	</div>
</div>