<footer class="footer @@color">
	<div class="container">
		<div class="row main-footer py-4">
			<div class="col-sm-6 col-md-2">
				<div class="d-flex flex-column">
					<a href="index.html">
						<img src="img/logo.svg" alt="">
					</a>
					<a href="#" class="mt-4">
						<img src="img/kontur_logo.svg" alt="">
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<ul class="list-unstyled main-list">
					<li><a href="edo.html">Кадровый ЭДО</a></li>
					<li><a href="ehlektronnaya-podpis.html">Электронная подпись</a></li>
					<li><a href="modul-integracii-1s.html">Модуль интеграции 1С</a></li>
					<li><a href="api-diadoc.html">API лицензия</a></li>
				</ul>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="d-flex secondary-lists">
					<ul class="list-unstyled mr-5">
						<li><a href="about.html">О компании</a></li>
						<li><a href="blog.html">Блог</a></li>
						<li><a href="otzyvy.html">Отзывы</a></li>
						<li><a href="">Документы</a></li>
						<li><a href="">Стоимость</a></li>
					</ul>
					<ul class="list-unstyled">
						<li><a href="">Контакты</a></li>
						<li><a href="">Акции</a></li>
					</ul>
				</div>
			</div>

			<div class="col-sm-6 col-md-2">
				<div class="d-flex flex-column">
					<div class="phone-wrapper d-flex flex-column align-items-start">
						<a href="tel:8 800 500-60-56" class="nav-phone">
							<svg class="img phone_icon icon_color">
							    <use xlink:href="img/sprite.svg#sprite--phone_icon"></use>
							</svg>
							<span>8 800 500-60-56</span>
						</a>
						<button type="button" class="my-2">Заказать звонок</button>
					</div>

					<a href="mail-to:@info.com" class="mail my-3">
						<svg class="img mail_icon icon_color">
						    <use xlink:href="img/sprite.svg#sprite--mail_icon"></use>
						</svg>
						kedo@info.com
					</a>
					<div class="d-flex mt-3">
						<a href="#">
							<svg class="img social_icon mr-3 icon_color">
							    <use xlink:href="img/sprite.svg#sprite--vk"></use>
							</svg>
						</a>
						<a href="#">
							<svg class="img social_icon icon_color">
							    <use xlink:href="img/sprite.svg#sprite--tg"></use>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-2">
				@@include('../bem-blocks/_button.html',{
                    "text": "Подключить",
                    "color": "@@color"
                })
			</div>
		</div>
	</div>
	<div class="copyright py-4">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					Данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ч. 2 ст. 437 ГК РФ. Для того чтобы узнать условия и цены на сегодня, пожалуйста, обращайтесь к нашим сотрудникам, позвонив по номеру указанному на странице.
				</div>
				<div class="col-md-3">
					<a href="#">Политика персональных данных</a>
				</div>
				<div class="col-md-1">
					<div class="d-flex flex-column">
						<a href="#">Карта сайта</a>
						<span>(c) 2023</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
