<nav class="">
	<div class="container">
		<div class="navbar justify-content-between">
			<div>
				<a href="">О компании</a>
				<a href="">Блог</a>
				<a href="">Отзывы</a>
				<a href="">Документы</a>
				<a href="">Стоимость</a>
				<a href="">Контакты</a>
				<a href="">Акции</a>
			</div>

			<div class="phone-wrapper d-flex">
				<a href="">8 800 500-60-56</a>
				<button>Заказать звонок</button>
			</div>
		</div>
	</div>
	<div class="main-nav">
	    <div class="container">
	    	<div class="navbar navbar-expand-lg">
		        <a class="navbar-brand" href="index.html">
		        	<img src="img/logo.svg" alt="">
		        </a>
		        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Переключатель навигации">
		            <span class="navbar-toggler-icon"></span>
		        </button>
		        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		            <div class="navbar-nav">
		                <a class="nav-link" href="edo.html">ЭДО</a>
		                <a class="nav-link" href="#">Электронная подпись</a>
		                <a class="nav-link" href="#">Модуль интеграции 1С</a>
		                <a class="nav-link" href="#">API лицензия</a>
		            </div>
		        </div>

		        @@include('../bem-blocks/_button.html',{
                    "text": "Попробовать бесплатно",
                    "color": "@@color"
                })
	    	</div>
	    </div>
		
	</div>
</nav>