<div class="col-sm-12">
	<div class="review-wrap mb-4 align-items-start d-flex">
		<div class="r-wrap d-flex flex-column align-items-baseline p-4">
			<img src="img/asus.png" alt="">
			<b>Анастасия Коротаева</b>
			<p class="r-author-info">Ведущий бухгалтер сервисного подразделения ASUS</p>
			<p>Благодаря типовому интеграционному модулю для 1С внедрение прошло для нас совершенно безболезненно. В компании не пришлось изменять и перестраивать внутренние процессы, это большой плюс для нас. </p>
		</div>
		<div class="review-img-wrap">
			<img src="img/review_img.png" alt="">
		</div>
	</div>
</div>