@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';

body{
	color: #2D2D2D;
	font-size: 17px;
	background: #fafafa;
	font-family: 'Manrope', sans-serif;
}
button{
	@include no-btn;
	transition: all .3s;
	box-shadow: none!important;
	&.bordered{
		border: 1px solid #1F1F1F;
		padding: 15px 25px;
	}
	&.arrow-btn{
		padding-right: 50px;
	}
	&.blue{
		background: url(../img/sprite.svg#css--btn_arrow) no-repeat;
		@include bg('20px', '95%');
		&:hover{
			background: var(--blue) url(../img/sprite.svg#sprite--btn_arrow_white) no-repeat;
			color: var(--white);
			border: 1px solid var(--blue);
			@include bg('20px', '95%');
		}
	}
	&.cian{
		background: url(../img/sprite.svg#sprite--btn_arrow_cian) no-repeat;
		@include bg('20px', '95%');
		&:hover{
			background: var(--cian) url(../img/sprite.svg#sprite--btn_arrow_white) no-repeat;
			color: var(--white);
			border: 1px solid var(--cian);
			@include bg('20px', '95%');
		}
	}
	&.orange{
		background: url(../img/sprite.svg#sprite--btn_arrow_orange) no-repeat;
		@include bg('20px', '95%');
		&:hover{
			background: var(--orange) url(../img/sprite.svg#sprite--btn_arrow_white) no-repeat;
			color: var(--white);
			border: 1px solid var(--orange);
			@include bg('20px', '95%');
		}
	}
	&.purple{
		background: url(../img/sprite.svg#sprite--btn_arrow_purple) no-repeat;
		@include bg('20px', '95%');
		&:hover{
			background: var(--purple) url(../img/sprite.svg#sprite--btn_arrow_white) no-repeat;
			color: var(--white);
			border: 1px solid var(--purple);
			@include bg('20px', '95%');
		}
	}
	&.green{
		background: url(../img/sprite.svg#sprite--btn_arrow_green) no-repeat;
		@include bg('20px', '95%');
		&:hover{
			background: var(--green) url(../img/sprite.svg#sprite--btn_arrow_white) no-repeat;
			color: var(--white);
			border: 1px solid var(--green);
			@include bg('20px', '95%');
		}
	}
	&.black{
		background: url(../img/sprite.svg#sprite--btn_arrow_black) no-repeat;
		@include bg('20px', '95%');
		&:hover{
			background: var(--black) url(../img/sprite.svg#sprite--btn_arrow_white) no-repeat;
			color: var(--white);
			border: 1px solid var(--black);
			@include bg('20px', '95%');
		}
	}
	&.white{
		background: url(../img/sprite.svg#sprite--btn_arrow_white) no-repeat;
		@include bg('20px', '95%');
		border: 1px solid #fff;
		color: #fff;
		&:hover{
			background: var(--white) url(../img/sprite.svg#sprite--btn_arrow_black) no-repeat;
			color: var(--black);
			border: 1px solid var(--white);
			@include bg('20px', '95%');
		}
	}
}
.mr-2{
	margin-right: .5rem!important;
}
.mr-3{
	margin-right: 1rem!important;
}
.mr-4{
	margin-right: 1.5rem!important;
}
.mr-5{
	margin-right: 2rem!important;
}
h1{
	font-size: 61px;
	font-weight: bold;
}
h2{
	font-size: 40px;
	font-weight: 600;
}
h3{
	font-size: 48px;
	font-weight: bold;
}
a{
	color: #2D2D2D;
	text-decoration: none;
}
p{
	margin-bottom: 15px;
}
label{
	font-size: 15px;
}
.form-check-input[type=checkbox] {
    border-radius: 0;
}
.social_icon{
	width: 32px;
	height: 32px;
}
.header,
section{
	.service-important-description{
		font-size: 30px!important;
		text-align: center;
		@media (max-width: 767.98px) {
			font-size: 17px!important;
		}
	}
}
nav,
footer{
	.phone-wrapper *{
		font-weight: 700;
		span{
			display: inline-block;
			&:after{
				content: '';
				display: block;
				width: 100%;
				height: 1px;
			}
		}
	}
	.phone_icon,
	.mail_icon{
		width: 12px;
	    height: 12px;
	    position: relative;
	    top: -1px;
	}
	&.blue{
		a:hover{
			color: var(--blue);
		}
		.phone-wrapper{
			button{
				color: var(--blue);
			}
			span{
				&:after{
					background: var(--blue);
				}
			}
		}
		.icon_color{
			fill: var(--blue);
		}
	}
	&.cian{
		a:hover{
			color: var(--cian);
		}
		.phone-wrapper{
			button{
				color: var(--cian);
			}
			span{
				&:after{
					background: var(--cian);
				}
			}
		}
		.icon_color{
			fill: var(--cian);
		}
	}
	&.orange{
		a:hover{
			color: var(--orange);
		}
		.phone-wrapper{
			button{
				color: var(--orange);
			}
			span{
				&:after{
					background: var(--orange);
				}
			}
		}
		.icon_color{
			fill: var(--orange);
		}
	}
	&.purple{
		a:hover{
			color: var(--purple);
		}
		.phone-wrapper{
			button{
				color: var(--purple);
			}
			span{
				&:after{
					background: var(--purple);
				}
			}
		}
		.icon_color{
			fill: var(--purple);
		}
	}
	&.green{
		a:hover{
			color: var(--green);
		}
		.phone-wrapper{
			button{
				color: var(--green);
			}
			span{
				&:after{
					background: var(--green);
				}
			}
		}
		.icon_color{
			fill: var(--green);
		}
	}
}
nav{
	background: #f6f6f8;
	box-shadow: 0px 0px 7px 0px #333;
	overflow: visible;
	z-index: 11;
	position: relative;
	a{
		text-decoration: none;
	}
	.top-nav{
		a{
			margin-right: 1em;
			font-size: 16px;
		}
	}
	
}
.main-nav {
    background: #fff;
    a{
    	font-size: 18px;
    	margin-right: 1.5em;
    }
}
button.navbar-toggler {
    border: none;
}
.header{
    background: #fafafa url(../img/home_head_bg.svg) no-repeat;
    background-size: contain;
    background-position: bottom;
    &-mainDescription{
    	max-width: 1100px;
    	margin: 0 auto;
    }
    &.edo{
    	background: none;
    	.head-wrapper{
    		background: #F3F3F3;
    		overflow: hidden;
    	}
    	p{
    		font-size: 19px;
    	}
    }
}
.service-head{
	position: relative;
	&.head-wrapper{
		padding: 85px 65px;
	}
	h1{
		font-size: 50px;
		color: var(--black);
		margin-bottom: 20px;
	}
	img{
		float: right;
		position: absolute;
	    right: 10%;
	    top: 10%;
	}
	@media (max-width: 1399.98px) {
		img{
			width: 40%;
			right: 5%;
    		top: 15%;
		}
	}
	@media (max-width: 991.98px) {
		text-align: center;
		&.head-wrapper {
    		padding: 50px 30px;
		}
		img{
			float: none;
    		position: static;
    		width: 100%;
    		margin: 30px 0 40px;
		}
	}
	@media (max-width: 575.98px) {
		h1{
			font-size: 30px;
		}
	}
}
.price{
	background: #fafafa;
	&-item{
		background: #fff;
	    border: 1px solid #ebebeb;
	    margin-bottom: 10px;
	    padding: 20px 30px;
	    display: flex;
	    justify-content: space-between;
	    align-items: end;
	    transition: all .3s;
	    &:hover{
	    	box-shadow: 0px 4px 4px 0px #00000026;
	    }
	}
	&-wrapper{
		padding-right: 30px;
	}
	&-sum{
		display: inline-block;
		font-weight: 700;
		font-size: 28px;
		margin-right: 40px;
		width: 120px;
	}
}

.advantage{
	padding: 50px;
	background: #edf7ff;

	&-item{
		text-align: center;
		img{
			margin-bottom: 20px;
		}
	}
	&-edo{
		
	}
}

.section-footer-description{
	font-size: 19px;
}

.improvement{
	background: #fafafa url(../img/problems.svg) no-repeat;
    padding: 40px 0;
    background-size: 50%;
    background-position: center left;
    &-item{
	    background: #fff;
	    margin-bottom: 10px;
	    box-shadow: 2px 2px 5px #ccc;
	    transition: all .3s;
	    border: 1px solid transparent;
	    &:hover:not(:last-child){
	    	border: 1px solid var(--black);
	    	box-shadow: 5px 5px 7px #ccc;
	    }
	    &:last-child{
	    	background: var(--blue);
	    	color: #fff;
	    }
	    img{
	    	margin-right: 20px;
	    }
	}
}

.connection{
	.itemNumber{
		color: #007bc0;
		font-size: 48px;
		font-weight: 700;
		background: #E6F2F9;
		display: flex;
		border-radius: 50%;
		width: 88px;
		height: 88px;
		text-align: center;
		justify-content: center;
		align-items: center;
		line-height: 1px;
		margin-bottom: 10px;
		&+p{
			padding-right: 20px;
		}
	}
	&.cian{
		.itemNumber{
			background: #DEFFFF;
			color: var(--cian);
		}
	}
	&.orange{
		.itemNumber{
			background: #F9F3E8;
			color: var(--orange);
		}
	}
	.consultation-box{
		background: #EDF7FF;
		margin-top: 75px;
	}
	&-footer{
		color: #fff;
		background: #5484FF url(../img/connection_footer_bg.svg) no-repeat;
		img{
			bottom: -8px;
		}
	}
}

.clients{
	&-item {
    	text-align: center;
	}

	#lightSlider {

	}
}


.faq{
	padding-bottom: 50px;
	background: #fff url(../img/faq_bg.svg) no-repeat;
	background-position: right bottom;
	background-size: 35%;
	&.cian{
		background: #fff url(../img/faq_bg_cian.svg) no-repeat;
		background-position: right bottom;
		background-size: 35%;
	}
	&.orange{
		background: #fff url(../img/faq_bg_orange.svg) no-repeat;
		background-position: right bottom;
		background-size: 35%;
	}
	&.purple{
		background: #fff url(../img/faq_bg_purple.svg) no-repeat;
		background-position: right bottom;
		background-size: 35%;
	}
	&.green{
		background: #fff url(../img/faq_bg_green.svg) no-repeat;
		background-position: right bottom;
		background-size: 35%;
	}
	@media (max-width: 767.98px) {
    	background-position: 50% 75px!important;
    	background-size: 50%!important;
		h3{
			font-size: 30px;
			margin-bottom: 200px!important;
		}
	}
}

.individual_form{
	background: #F2F5F8;
	text-align: center;
	padding: 50px 0;
	form{
		max-width: 660px;
		margin: 0 auto;
	}
}

.benefit{
	&-item{
		padding: 20px 20px 0 20px;
		height: 100%;
		flex-direction: column;
    	justify-content: space-between;
    	ul{
    		li{
    			margin-bottom: 10px;
    		}
    		span{
    			color: var(--black);
    		}
    	}
		h5{
			text-align: center;
		}
		&.cian{
			border: 1px solid var(--cian);
			ul{
				color: var(--cian);
			}
		}
		&.orange{
			border: 1px solid var(--orange);
			ul{
				color: var(--orange);
			}
		}
		img {
		    margin: 0 auto;
		    display: block;
		}
	}
	p{
		font-size: 30px;
		text-align: center;
	}
}


// ================ EDO ====================

input{
	border-radius: 0;
	outline: none;
	width: 100%;
	border: 1px solid var(--black);
	padding: 20px;
	box-shadow: none!important;
}
.edo{
	&-diadoc{
		.diadoc-item{
			background: none;
			box-shadow: none;
			align-items: flex-start;
		}
		.itemNumber{
			background: var(--cian);
			color: #fff;
			border-radius: 50%;
			margin-right: 20px;
			width: 30px;
			height: 30px;
			flex: none;
			text-align: center;
			line-height: 30px;
			position: relative;
    		top: 5px;
		}
	}
	&-form{
		background: var(--cian);
		padding: 40px;
		h4{
			font-weight: 700;
			margin-bottom: 20px;
			font-size: 40px;
		}
		input{
			border: 1px solid #fff;
		}
	}
}
// ================ END EDO =================

// ================ ECP ====================

.ecp-form{
	padding-bottom: 50px;
	&-wrap{
		background: var(--orange);
		color: #fff;
		padding: 50px 30px;
		position: relative;
		&:after{
			content: url('../img/ecp_form_bg.svg');
			position: absolute;
		    bottom: -55%;
		    left: -5%;
		}
		h3{
			font-size: 40px;
		}
		p{
			font-size: 25px;
		}
	}
	.head-price-info{
		background: #F9F3E8;
		color: var(--black);
		padding: 30px;
		font-size: 19px;
		font-weight: 700;
	}
	input{
		border: 1px solid #fff;
	}
}
.benefit{
	.head_subtitle{
		text-align: left;
		font-size: 19px;
	}
	&-item{
		p{
			font-size: 17px;
			text-align: left;
			margin-bottom: 5px;
		}
	}

}

// ================ END ECP =================


// ================ 1S =====================
.ones-module-item{
	background: #fff;
	margin-bottom: 20px;
	box-shadow: 2px 2px 5px #ccc;
	img{
		margin-right: 20px;
	}
	p{
		margin-bottom: 0;
		font-size: 20px;
		font-weight: 700;
	}
	span{
		font-size: 17px;
	}
}
.module-price{
	background: #F4F2F8;
	h3{
		text-align: center;
		margin-bottom: 20px;
		font-size: 54px;
		font-weight: 700;
	}
	.price-label{
		text-align: center;
		background: var(--purple);
		color: #fff;
		padding: 15px;
		font-size: 54px;
		font-weight: 700;
	}
	h5{
		font-size: 40px;
		font-weight: 600;
		margin-bottom: 20px;
	}
	ul{
		padding-left: 45px;
		li{
			position: relative;
			margin-bottom: 10px;
			&:before{
				content: '+';
				width: 27px;
				height: 27px;
				display: block;
				background: var(--purple);
				text-align: center;
				color: #fff;
				border-radius: 50%;
				position: absolute;
				left: -40px;
			}
		}
		&.minuses{
			li{
				&:before{
					content: '-';
					background: #D9D9D9;
					font-size: 30px;
    				line-height: 24px;
				}
			}
		}
	}
}
// ================ END 1S =================

// ================ BLOG ====================
.blog{
	h1{
		font-size: 50px;
	}
	a{
		&:hover{
			color: var(--blue);
		}
	}
}
.blog-item{
	background: #fff;
	border: 1px solid #EBEBEB;
	img{
		object-fit: cover;
	}
	p{
		font-size: 15px;
	}
	.article{
		h4{
			font-size: 20px;
			margin-bottom: 20px;
		}
	}
	.article-bottom{
		.date{
			color: var(--blue);
			font-weight: 600;
			font-size: 15px;
		}
		.more{
			font-size: 15px;
			padding-right: 30px;
	    	background: url(../img/sprite.svg#sprite--btn_arrow_black) no-repeat;
		    background-position: 100% 62%;
		    background-size: 34%;
	    	&:hover{
	    		background: url(../img/sprite.svg#css--btn_arrow) no-repeat;
	    		background-position: 100% 62%;
		    	background-size: 34%;
	    	}
		}
	}
}

.aside{
	margin-left: 20px;
	ul{
		li{
			font-weight: 700;
			margin-bottom: 10px;
			a.active{
				padding-left: 30px;
				background: url(../img/sprite.svg#css--btn_arrow) no-repeat;
    			background-position: 0% 62%;
	    		background-size: 15%;
			}
		}
	}
}
.blog-pagination{
	list-style: none;
	.p-link{
		display: inline-block;
		text-align: center;
		font-size: 17px;
		font-weight: 700;
		border: none;
		background: transparent;
		border-radius: 50%;
		width: 29px;
		height: 29px;
		line-height: 26px;
		&.active{
			background: #B0DEFF;
		}
		&.disabled{
			cursor: default;
			&:hover{
				color: var(--black);
			}
		}
	}
}

.article-container{
	max-width: 1000px;
	padding: 0 20px;
	margin: 0 auto;
	h1{
		text-align: center;
	}
}
.author-row{
	border-top: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
	.author-info{
		align-items: center;
	}
	.author-ava{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-right: 20px;
	}
	.author-name{
		display: flex;
		flex-direction: column;
    	justify-content: space-between;
    	p{
    		margin-bottom: 0;
    	}
	}
	.article-date{
		display: flex;
		align-items: center;
		.share_icon{
			width: 20px;
			height: 18px;
		}
		span{
			font-size: 15px;
			font-weight: 600;
		}
	}
}
.article{
	font-size: 20px;
	h4{
		font-size: 25px;
	}
	h6{
		font-size: 20px;
		font-weight: 600;
	}
	.content-box{
		background: #F2F5F8;
		padding: 30px 40px;
		ul{
			li{
				margin-bottom: 10px;
				display: flex;
    			align-items: center;
				&:before{
					content: '';
					display: block;
					height: 1px;
					width: 20px;
					margin-right: 10px;
					background: var(--black);
				}
			}
		}
		a{
			color: var(--blue);
			&:hover{
				text-decoration: underline;
			}
		}
	}

	

	figure{
		margin: 20px auto;
		text-align: center;
		figcaption{
			font-size: 17px;
		}
	}
	.important-text{
		background: #C3E9F5 url(../img/article-banner-bg.svg) no-repeat;
		background-size: contain;
		padding: 30px;
	}
}
.more-articles{
	border-top: 2px solid #D9D9D9;
	padding-right: 40px;
	h4{
		font-size: 31px;
	}
}
.article-banner{
	background: #88F1D2 url(../img/article-banner-bg.svg) no-repeat;
	background-size: cover;
	padding: 0px 40px;
	align-items: center;
	overflow: hidden;
	h6{
		font-size: 30px;
		margin-bottom: 10px;
	}
	img{
		bottom: -50px;
		right: 0;
	}
	&.diadoc-banner{
		overflow: visible;
		background: #88F1D2 url(../img/article-banner-bg.svg) no-repeat;
		background-size: auto;
		h6{
			margin-bottom: 0;
		}
		img{
			bottom: 0px;
			right: 0;
		}
	}
}
// ================ END BLOG =================

// ================ ABOUT ====================
.header.about{
	background: none;
}
.head-wrapper{
	color: #fff;
	background: var(--blue) url(../img/connection_footer_img.svg) no-repeat;
	background-position: 100% 100%;
    padding: 50px 34% 50px 50px;
    background-size: 25%;
    h2{
    	font-weight: 400;
    	margin-bottom: 20px;
    }
    p{
    	font-size: 20px;
    	font-weight: 100;
    }
}
.about{
	.advantage-item{
		max-width: 25%;
		.img{
			width: 78px;
			height: 78px;
			margin-bottom: 20px;
		}
	}
}
.reviewSliderWrapper{
	display: flex;
    align-items: center;
    justify-content: space-between;
    .lSSlideOuter {
	    margin: 0 20px;
	}
	.controlSlider{
		cursor: pointer;
	}
}
// ================ END ABOUT ================

// ================ REVIEVS ==================

.review-wrap{
	background: #fff;
	border: 1px solid #EBEBEB;
	align-items: baseline;
	.r-logo{
		margin-bottom: 10px;
	}
	p{
		font-size: 17px;
		&.r-author-info{
			font-size: 15px;
			opacity: 0.6;
		}
	}
}

// ================ END REVIEVS ==============
footer {
	background: #fff;
	.main-list{
		font-weight: 600;
		li{
			margin-bottom: 15px;
		}
	}
	.secondary-lists{
		li{
			margin-bottom: 5px;
		}
	}
	&.cian{
    	border-top: 3px solid var(--cian);
	}
	&.orange{
    	border-top: 3px solid var(--orange);
	}
	&.blue{
    	border-top: 3px solid var(--blue);
	}
	&.green{
    	border-top: 3px solid var(--green);
	}
	&.purple{
    	border-top: 3px solid var(--purple);
	}
}
.copyright{
	border-top: 3px solid #f5f5f5;
	font-size: 13px;
	a{
		font-size: 15px;
		color: #2D2D2D;
	}
	span{
		font-size: 16px;
	}
}